.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 3rem;
}

.title {
  color: #212121;
}

.filterInput {
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: black;

  &::placeholder {
    font-weight: 600;
  }
}
